<%- include('includes/head'); %>

<%- include('includes/sidebars'); %>

<div class="container">
  <div class="row">
    <div class="col-lg-2"></div>

    <div class="col-lg-8 my-3">
      <h1 class="text-center">Bem vindo <%= user.idUser %> </h1>
      <p class="text-center lead">Para iniciar utilização do sistema cadastrar Clientes, Produtos e incluir Pedidos de Exportação</p>
      <p class="text-center lead">Esse projeto tem como objetivo concluir e validar conhecimentos adquiridos no Curso de JavaScript e TypeScript do básico ao avançado do site Udemy com o instrutor Luiz Otávio Miranda</p>
        <p class="text-center lead">Utilizando: node.js, webpack, MangoDB e JavaScript.</p>
        
      <%- include('includes/messages'); %>
    </div>
  </div>   
</div>


<%- include('includes/footer'); %> 