<%- include('includes/head'); %>
<%- include('includes/sidebars'); %>

<div class="container">
    <div class="row">
        <div class="col-lg-2"></div>
  
        <div class="col-lg-8 my-3">
            <h1 class="text-center">Pedido de Venda</h1>
            
            <%- include('includes/messages'); %>
    
            <div class="responsive-table">
                <% if(produto._id) { %>
                    <form class="row g-3" action="/produto/edit/<%= produto._id %>" method="POST">
                <% } else { %>
                <form class="row g-3" action="/produto/register" method="POST">
                <% } %>        
                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                    <div class="col-md-6">
                        <label class="form-label">Cliente</label>
                        <select class="form-control" name="client" id=client onchange="getCampos('client')">
                            <option>Cliente 01</option>
                            <option>Cliente 02</option>
                            <option>Cliente 03</option>
                        </select>
                    </div>
                    
                    <div class="col-md-6">
                        <label class="form-label">Data Cambio</label>
                        <input type="date" class="form-control" id="dtCambio" name="dtCambio" onchange="getCampos('dtCambio')">
                    </div>
                    
                    <div class="col-md-6">
                        <label class="form-label">Moeda Cliente</label>
                        <input type="text" class="form-control" name="moedCiente" id=moedCiente onchange="getCampos('moedCiente')">
                    </div>

                    <div class="col-md-6">
                        <label class="form-label">Moeda Frete Internacional</label>
                        <input type="text" class="form-control" name="moedFretInter" id=moedFretInter onchange="getCampos('moedFretInter')">
                    </div>
                    
                    <div class="col-md-6">
                        <label class="form-label">Valor KG Frete Internacional</label>
                        <input type="number" class="form-control" placeholder="$" name="fretInter" id="fretInter" onchange="getCampos('fretInter')">
                    </div>
                    
                    <div class="col-md-6">
                        <label class="form-label">Moeda Frete Rodoviario</label>
                        <input type="text" class="form-control" name="moedFretRod" id=moedFretRod onchange="getCampos('moedFretRod')">
                    </div>
                    
                    <div class="col-md-6">
                        <label class="form-label">Valor KG Frete Rodoviario</label>
                        <input type="number" class="form-control" placeholder="$" name="fretRod" id="fretRod" onchange="getCampos('fretRod')">
                    </div>
                    
                    <div class="col-md-6">
                        <label class="form-label">Taxa Dolar</label>
                        <input type="number" class="form-control" id="txDolar" >
                    </div>
                    
                    <div class="col-md-6">
                        <label class="form-label">Taxa Euro</label>
                        <input type="number" class="form-control" id="txEuro" >
                    </div>

                    <div class="col-12">
                        <button type="submit" class="btn btn-primary">Criar Pedido</button>
                    </div>
                </form>
                
            </div>
        </div>
    </div>
</div>


<%- include('includes/footer'); %> 